@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --Grey-800: #0A0A0A;
 --Grey-600: #5F5F5F;
 --Grey-200: #EDEDED;
 --Grey-100: rgba(255, 255, 255, 1);
  --Grey-75: #F6F6F6;
};

body{
    color: white;
}
.viewportContainer{
    display: flex;
    min-height: 100vh;
}
.container{
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex: 1;
}

.bigCard{
    padding: 20px;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid var(--Grey-200);
    background: var(--Grey-75);
}